include ./header.jade
    .wrapper
        header
            h1 icon
        section.main
            article.page
                .container
                    .row
                        span.icon-arr-left
                        span.icon-arr-down
                        span.icon-arr-right
                        span.icon-arr-up
                        span.icon-arr-left.icon-lg.icon-arr-d
