include ./header.jade
    .wrapper
        header
            h1 测试首页
        section.main
            article.page
                .container
                    .row
                        .col-4 4ge
                        .col-8 8ge
                    .button-pannel
                        .btn.btn-default.btn-lg 测试长按钮
                    .button-pannel
                        .btn.btn-simple.btn-lg 测试长按钮
                    .button-pannel
                        .btn.btn-disable.btn-lg 测试长按钮
                    .button-pannel
                        .btn.btn-simple.btn-md 一半的按钮
                        .icon-list.icon-lg
                    .button-pannel
                        .btn.btn-disable.btn-sm 短按钮
                    .button-pannel
                        .btn-toggle
                        .btn-toggle.on
        footer
            测试底部fixed